*::-webkit-input-placeholder {
	color: #2b2a29;
	opacity: 1;
}
*:-moz-placeholder {
	color: #2b2a29;
	opacity: 1;
}
*::-moz-placeholder {
	color: #2b2a29;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #2b2a29;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

body {
	font-family: 'Jost';
	font-size: 0.833vw;
	line-height: 150%;
	color: #2B2A29;
	overflow-x: hidden;
	margin: 0;
	background: #f8f8f8;
}
button {
	cursor: pointer;
}
button, input, optgroup, select, textarea {
	font-family: inherit;
}
input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
button,
textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"] {
	-webkit-appearance: none;
}
*:link, 
*:visited, 
*:hover, 
*:focus,
*:active {
	outline: 0;
	-webkit-tap-highlight-color: transparent;
}
a, button, input, img {
	transition: all 0.3s;
}
h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}
.wrapper {
	padding-top: 9.375vw;
	overflow: hidden;
}
a {
	text-decoration: none;
	outline: none;
}
* {
	outline: none !important;
}
ul {
	padding: 0;
	margin: 0;
}
ul li {
	list-style-type: none;
	outline: none;
}
img {
	outline: none;
	display: block;
}
p {
	padding: 0;
	margin: 0;
}
form {
	margin: 0;
}

.container {
    max-width: 84.896vw;
}
.row {
	margin: 0 -0.781vw;
}
.row > div {
	padding: 0 0.781vw;
}
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 900;
	background: #f8f8f8;
	transition: all 0.7s;
}
.header.nav-up {
	transform: translateY(-9.7vw);
}
.header.nav-down {
	transform: translateY(0px);
}
.header__top {
	padding: 0.573vw 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo img {
	width: 10.312vw;
	height: auto;
	max-width: 100%;
}
.navigation {
	gap: 1.979vw;
	display: flex;
	align-items: center;
}
.navigation a {
	color: #2b2a29;
	border-bottom: 0.052vw transparent solid;
}
.navigation a:hover {
	color: #bc6c25;
	border-color: #bc6c25;
}
.btn-search {
	width: 2.604vw;
	height: 2.604vw;
	border-radius: 0.312vw;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
	flex: none;
	position: relative;
	cursor: pointer;
}
.btn-search img {
	width: 1.25vw;
}
.btn-search:hover > img {
	opacity: 0.7;
}
.btn-search.active > img {
	width: 0;
}
.btn-search.active .form-search {
	width: 40.36vw;
	visibility: visible;
	opacity: 1;
}
.form-search input {
	top: 0;
	right: 0;
	font-size: 0.83vw;
	padding: 0 0.78vw;
	padding-left: 3.65vw;
	border-radius: 0.83vw;
	font-weight: 400;
	width: 100%;
	color: #2B2A29; 
    font-family: 'Jost';
	height: 2.6vw; 
	border: none;
	background: #fff;
}
.form-search {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 100%;
	transition: all 0.3s;
}
.button-search {
    width: 2.86vw;
	top: 0;
	left: 0;
	height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    padding: 0;
    background: transparent;
}
.header__links {
	font-size: 0.729vw;
}
.header__links li {
	margin-bottom: 0.26vw;
}
.header__links li:last-child {
	margin-bottom: 0;
}
.header__links a {
	color: #2b2a29;
}
.link-simple {
	border-bottom: 0.052vw #2b2a29 solid;
}
.header__links a:hover,
.link-simple:hover {
	color: #bc6c25;
	border-color: #bc6c25;
}
.socials-list {
	gap: 0.365vw;
	display: flex;
	align-items: center;
}
.socials-list img {
	width: 2.5vw;
}
.socials-list a:hover img {
	opacity: 0.7;
}
.phones-list {
	font-size: 0.937vw;
	line-height: 144%;
	font-weight: 600;
}
.phones-list a {
	color: #2b2a29;
}
.phones-list a:hover {
	color: #bc6c25;
}
.header__bottom {
	padding: 0.625vw;
	gap: 0.833vw;
	background: #dda15e;
	border-radius: 0.521vw;
	display: flex;
	align-items: center;
}
.menu {
	gap: 2.708vw;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.menu li {
	flex-grow: 1;
}
.btn-catalog,
.menu a {
	height: 2.396vw;
	border-radius: 0.521vw;
	font-size: 0.937vw;
	line-height: 144%;
	font-weight: 500;
	text-transform: uppercase;
	color: #2b2a29;
	display: flex;
	align-items: center;
	justify-content: center;
}
.menu a:hover {
	background: #bc6c25;
	color: #fff;
}
.btn-catalog {
	padding: 0 1.562vw;
	color: #f8f8f8;
	background: #bc6c25;
}
.btn-catalog:hover {
	background: #fff;
	color: #2b2a29;
}

.billbord {
	padding-top: 1.146vw;
}
.slider-billbord {
	border-radius: 0.729vw;
	margin-bottom: 2.448vw;
	box-shadow: 0 0.208vw 0.781vw rgba(0, 0, 0, 0.1);
	background-image: url(../img/bg_billbord.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.slider-billbord:not(.slick-initialized) > li:not(:first-child) {
	display: none;
}
.slick-dots {
	bottom: 0;
	left: 0;
	width: 100%;
}
.slick-dots li {
	width: 0.625vw;
	height: 0.625vw;
	margin: 0 0.365vw;
}
.slick-dots li button {
	width: 0.625vw;
	height: 0.625vw;
	background-color: #606c38;
	border-radius: 50%;
	padding: 0;
	border: none;
	transition: all 0.3s;
	opacity: 1;
}
.slick-dots li button:hover,
.slick-dots li.slick-active button {
	background: #bc6c25;
}
.slick-dots li button::before {
	display: none;
}
.item-billbord {
	padding: 4.323vw 3.385vw;
	padding-right: 32.76vw;
	height: 32.448vw;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.title-big {
	font-size: 2.083vw;
	margin-bottom: 2.969vw;
	max-width: 43.542vw;
	line-height: 135%;
	font-weight: 600;
	font-family: "Montserrat";
}
.info-billbord p {
	padding-left: 2.083vw;
	margin: 0;
	position: relative;
}
.info-billbord p::before {
	position: absolute;
	display: block;
	content: " ";
	top: 0.625vw;
	left: 0;
	background: #bc6c25;
	width: 1.042vw;
	height: 0.104vw;
}
.btn-main {
	height: 2.813vw;
	padding: 0 1.562vw;
	font-size: 0.937vw;
	line-height: 144%;
	font-weight: 500;
	text-transform: uppercase;
	color: #f8f8f8;
	border-radius: 0.521vw;
	background: #606c38;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border: none;
	cursor: pointer;
	transition: all 0.3s;
}
.btn-main:hover {
	background: #283618;
}
.item-billbord .btn-main {
	margin-top: auto;
}
.photos-billbord {
	width: 52.604vw;
	top: 1.094vw;
	right: 1.094vw;
	position: absolute;
}

.photos-billbord__item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	border-radius: 0.521vw;
}
.photos-billbord__item {
	height: 8.906vw;
	margin-bottom: 1.042vw;
}
.photos-billbord .row {
	margin: 0 -0.521vw;
}
.photos-billbord .row > div {
	padding: 0 0.521vw;
}
.photos-billbord .col-lg-7 .row:nth-child(1) .photos-billbord__item img {
	border-radius: 7.813vw 0.521vw 0.521vw 0.521vw;
}
.photos-billbord .col-lg-7 .row:nth-child(3) div:nth-child(1) .photos-billbord__item img {
	border-radius: 7.813vw 0.521vw 0.521vw 0.521vw;
}
.photos-billbord .col-lg-5 .photos-billbord__item:nth-child(2) {
	height: 20.313vw;
}
.photos-billbord .col-lg-7 .row:nth-child(2) .photos-billbord__item {
	height: 10.365vw;
}
.slider-billbord .slick-dots {
	bottom: -2.24vw;
}

.categories {
	padding-top: 1.875vw;
}
.title-section {
	font-size: 1.875vw;
	margin-bottom: 1.979vw;
	line-height: 156%;
	font-weight: 600;
	font-family: "Montserrat";
}
.row.row_main > div {
	margin-bottom: 1.146vw;
}
.row.row_main {
	margin-bottom: -1.146vw;
}
.item-category {
	height: 11.563vw;
	padding: 1.302vw;
	padding-right: 10.938vw;
	padding-top: 0.938vw;
	font-size: 1.25vw;
	line-height: 125%;
	font-weight: 600;
	color: #2b2a29;
	border-radius: 0.521vw;
	background: #fff;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	z-index: 1;
	position: relative;
}
.item-category__title {
	display: block;
}
.item-category__link {
	font-size: 0.729vw;
	line-height: 140%;
	margin-top: auto;
	color: #bc6c25;
	border-bottom: 0.052vw solid #bc6c25;
	font-weight: 400;
}
.item-category__image {
	width: 12.5vw;
	height: 100%;
	top: 0;
	right: 0;
	position: absolute;
	display: block;
	border-radius: 10.417vw 0.521vw 0.521vw 0.521vw;
	z-index: -1;
}
.item-category__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	border-radius: 10.417vw 0.521vw 0.521vw 0.521vw;
}
.item-category__hover {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 0.521vw;
	transition: all 0.7s;
	z-index: -1;
	opacity: 0;
}
.item-category__hover img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	border-radius: 0.521vw;
}
.item-category__hover::after {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 0.521vw;
	background: rgba(0, 0, 0, 0.3);
}
.item-category:hover .item-category__hover {
	opacity: 1;
}
.item-category:hover {
	color: #fff;
}
.item-category:hover .item-category__link {
	color: #fff;
	border-color: #fff;
}

.advantages {
	padding-top: 3.125vw;
}
.item-advantage {
	padding: 1.51vw 2.448vw;
	background: #dda15e;
	border-radius: 0.521vw;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.title-small {
	font-size: 1.042vw;
	margin-bottom: 0.781vw;
	font-weight: 600;
	line-height: 130%;
}
.item-advantage strong {
	font-weight: 500;
}
.item-advantage p:not(:last-child) {
	margin-bottom: 0.521vw;
}
.row.row_page > div {
	margin-bottom: 1.563vw;
}
.row.row_page {
	margin-bottom: -1.563vw;
}
.advantages .row_page > div:nth-child(2) > .item-advantage {
	background: #cacc7d;
}
.advantages .row_page > div:nth-child(3) > .item-advantage {
	padding-right: 1.042vw;
	background: #90c7ce;
}
.advantages .row_page > div:nth-child(4) > .item-advantage {
	background: #cb9c92;
}
.item-advantage.item-advantage_main {
	padding-bottom: 0;
	background: #eedbb9;
}
.item-advantage__image {
	left: -2.448vw;
	right: -2.448vw;
	border-radius: 0.521vw;
	display: block;
	position: absolute;
	top: 0;
	height: 100%;
}
.item-advantage__bottom {
	flex: 1;
	margin-top: auto;
	width: 100%;
	position: relative;
}
.item-advantage__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	border-radius: 0.521vw;
}
.item-advantage.item-advantage_main p:not(:last-child) {
	margin-bottom: 1.563vw;
}

.consultation {
	padding-top: 3.125vw;
}
.consultation__block {
	height: 24.479vw;
	padding: 2.24vw;
	color: #fff;
	background-image: url(../img/bg_consult1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.consultation__descr {
	font-size: 1.042vw;
	max-width: 24.74vw;
	line-height: 160%;
	font-weight: 500;
}
.consultation__block .title-section {
	margin-bottom: 1.094vw;
}
.consultation__block ul {
	margin-top: auto;
}
.consultation__block ul li {
	font-size: 1.042vw;
	padding-left: 1.042vw;
	margin-bottom: 0.521vw;
	position: relative;
}
.consultation__block ul li::before {
	position: absolute;
	top: 0;
	left: 0.156vw;
	content: "•";
}
.form-page {
	padding: 2.448vw 3.854vw;
	padding-bottom: 3.125vw;
	border-radius: 0.521vw;
	background: #fff;
}
.title-form {
	margin-bottom: 1.51vw;
	font-size: 1.042vw;
	line-height: 130%;
	font-weight: 500;
}
.item-form {
	margin-bottom: 0.833vw;
}
.item-form input,
.item-form textarea {
	height: 2.917vw;
	padding: 0 0.938vw;
	font-size: 0.729vw;
	line-height: 143%;
	font-weight: 400;
	color: #2b2a29;
	border: 1px solid #d9d9d9;
	background: #fff;
	border-radius: 0.313vw;
	width: 100%;
	font-family: 'Jost';
}
.form-page .btn-main {
	margin-top: 1.302vw;
	padding: 0 0.521vw;
	width: 100%;
}
.checkbox {
	font-size: 0.677vw;
	margin-top: 2.083vw;
	font-weight: 300;
	line-height: 130%;
	color: #1e293b;
	opacity: 0.5;
	font-weight: 400;
	letter-spacing: normal;
	display: flex;
	text-align: left;
	justify-content: center;
}
.checkbox label input {
	position: absolute;
	z-index: -1;
	height: 1px !important;
	width: 1px !important;
	opacity: 0 !important;
	margin: 0.625vw 0.104vw 0 0.365vw !important;
}
.checkbox label > span {
	position: relative;
	padding: 0.208vw 0 0 1.667vw;
	display: block;
	cursor: pointer;
}
.checkbox label > span:before {
	content: '';
	position: absolute;
	top: 0.104vw;
	left: 0;
	width: 0.99vw;
	height: 0.99vw;
	border: 1px solid #1e293b;
	transition: .2s;
}
.checkbox label > span:after {
	content: '';
	position: absolute;
	top: 0.104vw;
	left: 0;
	width: 0.99vw;
	height: 0.99vw;
	content: "\f00c";
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-family: "Font Awesome 5 Pro";
	font-weight: 700;
	background-image: none;
	color: #1e293b;
	font-size: 0.521vw;
	opacity: 0;
	transition: .2s;
}
.checkbox label input:checked + span:after {
	opacity: 1;
}

.reviews {
	padding: 3.385vw 0;
}
.block-review {
	padding: 1.406vw 4.479vw;
	padding-right: 3.75vw;
	font-size: 1.042vw;
	line-height: 140%;
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #d5d9c8;
	border-radius: 0.521vw;
}
.block-review .btn-main {
	padding: 0 1.563vw;
}
.block-review__head {
	margin-bottom: 1.094vw;
	display: flex;
	align-items: center;
}
.block-review__head img {
	width: 2.135vw;
	margin-right: 0.313vw;
}
.rating-wrap {
	display: flex;
	align-items: center;
}
.title-rating {
	margin-bottom: 0.417vw;
}
.rating {
	display: flex;
	align-items: center;
}
.rating__item {
	font-size: 1.042vw;
	color: #DDA15E;
	transition: all 0.3s;
	margin-right: 0.365vw;
}
.rating_1 > .rating__item:nth-child(1) {
	color: #BC6C25;
}
.rating_2 > .rating__item:nth-child(-n+2) {
	color: #BC6C25;
}
.rating_3 > .rating__item:nth-child(-n+3) {
	color: #BC6C25;
}
.rating_4 > .rating__item:nth-child(-n+4) {
	color: #BC6C25;
}
.rating_5 > .rating__item:nth-child(-n+5) {
	color: #BC6C25;
}
.rating__item.active {
	color: #BC6C25;
}
.descr-rating {
	font-size: 0.729vw;
	margin-left: 1.042vw;
	font-weight: 400;
	letter-spacing: 0.03em;
	color: #2b2a29;
}
.image-review img {
	width: 100%;
	max-width: 100%;
	height: auto;
}
.reviews-block {
	padding: 1.563vw 2.188vw;
	background: #fff;
	border-radius: 0 0 0.521vw 0.521vw;
}
.reviews-block .row > div {
	margin-bottom: 1.823vw;
}
.reviews-block .row {
	margin-bottom: -1.823vw;
}

.footer {
	padding-top: 1.719vw;
	line-height: 162%;
	background: #d9d9d9;
}
.logo + .hidden-mob {
	margin-top: 1.927vw;
}
.footer__title {
	margin-bottom: 0.469vw;
	font-size: 0.938vw;
	line-height: 144%;
	font-weight: 600;
}
.footer__nav li a {
	color: #2b2a29;
	border-bottom: 1px transparent solid;
}
.footer__content p a:hover,
.footer__phones a:hover,
.footer__nav li a:hover {
	color: #bc6c25;
	border-color: #bc6c25;
}
.footer__nav li {
	margin-bottom: 0.521vw;
}
.footer__nav li:last-child {
	margin-bottom: 0;
}
.footer__requsites p {
	margin-bottom: 0.26vw;
}
.footer__phones {
	font-weight: 600;
}
.footer__phones a {
	color: #2b2a29;
}
.footer .socials-list {
	margin-top: 0.677vw;
}
.footer__content + .footer__title {
	margin-top: 1.354vw;
}
.footer__content p a {
	color: #2b2a29;
}
.footer__content p {
	margin: 0;
}
.footer__content strong {
	font-weight: 500;
}
.footer__column {
	margin-left: -1.563vw;
}
.footer-bottom {
	padding: 0.521vw 0;
	font-size: 0.729vw;
	line-height: 150%;
	margin-top: 2.865vw;
	color: #9b9ea0;
	border-top: 1px solid #c4c4c4;
}
.create {
	display: flex;
	align-items: center;
}
.create img {
	width: 2.969vw;
}
.create a {
	margin-left: 0.781vw;
}
.footer-bottom a {
	color: #9b9ea0;
}
.footer-bottom a:hover {
	color: #2b2a29;
}
.footer-bottom p {
	margin: 0 !important;
}
.btn_top {
	font-size: 0.938vw;
	float: right;
	position: relative;
	color: #2b2a29 !important;
	width: 2.083vw;
	height: 2.083vw;
	text-align: center;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex !important;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: #fff;
	z-index: 7;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.btn_top:hover {
	opacity: 0.8;
}
.phone-mobile,
.footer__title i {
	display: none;
}
/*Style Sandwich*/
.sandwich span {
	display: block;
}
.sandwich {
    width: 40px;
    height: 40px;
    padding-top: 10px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items:center;
	border-radius: 50%;
	background: #bc6c25;
	z-index: 20;
	display: none;
	flex: none;
	cursor: pointer;
}
.sw-topper {
	position: relative;
	top: 4px;
	width: 18px;
	height: 2px;
	border-radius: 4px;
	display: block;
	margin: 0;
	background-color: #fff;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
}
.sw-bottom {
	position: relative;
	top: 8px;
	width: 18px;
	height: 2px;
	border-radius: 4px;
	display: block;
	margin: 0;
	background-color: #fff;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
}
.sw-footer {
	position: relative;
	top: 12px;
	width: 18px;
	height: 2px;
	border-radius: 4px;
	display: block;
	margin: 0;
	background-color: #fff;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
}
.sandwich.active .sw-topper {
	top: 9px;
	transform: rotate(45deg);
}
.sandwich.active .sw-bottom {
	opacity: 0;
}
.sandwich.active .sw-footer {
	top: 5px;
	transform: rotate(-45deg); 
}
.menu-overlay {
	display: none;
}
.modal-block {
	display: none;
	padding: 0;
	background: transparent;
}
.modal-block .form-page {
	width: 26.823vw;
	max-width: 100%;
	margin: 0 auto;
}

.page-news {
    padding-top: 1.5625vw;
    padding-bottom: 3.0208vw;
}
.item-news {
    height: 16.1458vw;
    padding: 0.9896vw;
    padding-bottom: 1.3542vw;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 1;
	border-radius: 0.5208vw;
}
.item-news__date {
    padding: 0.5208vw;
    font-size: 0.7292vw;
    line-height: 114%;
    margin-bottom: auto;
    font-weight: 500;
    border-radius: 0.3125vw;
    backdrop-filter: blur(0.7813vw);
    background: rgba(255, 255, 255, 0.1);
    display: inline-block;
    vertical-align: middle;
}
.item-news__title {
    font-size: 1.1458vw;
    line-height: 136%;
    font-weight: 500;
    display: block;
}
.item-news__image {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 0.5208vw;
    z-index: -1;
    overflow: hidden;
}
.item-news__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
    border-radius: 0.5208vw;
    transition: all 1s;
}
.item-news__image::after {
    position: absolute;
    display: block;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.5208vw;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 54.57%, rgba(0, 0, 0, 0.8) 100%);
}
.item-news:hover .item-news__image img {
    transform: scale(1.1);
}
.pager {
    height: 2.0833vw;
    margin-top: 1.8229vw;
    max-width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page-numbers {
    margin: 0 1.1458vw;
    font-size: 1.0417vw;
    line-height: 130%;
    color: #2b2a29;
    font-weight: 500;
}
.page-numbers:hover,
.page-numbers.current {
    color: #BC6C25;
}
.prev.page-numbers,
.next.page-numbers {
    width: 2.0833vw;
    height: 2.0833vw;
    font-size: 0.7292vw;
    border: 0.0521vw solid #dda15e;
    border-radius: 50%;
    color: #BC6C25;
	background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
}
.next.page-numbers {
    right: 0;
    left: auto;
}
.prev.page-numbers:hover,
.next.page-numbers:hover {
    color: #fff;
    background: #dda15e;
    border-color: #dda15e;
}

.page-article {
	padding-bottom: 3.65vw;
}
.page-article .item-news {
	margin-bottom: 1.67vw;
}
.breadcrumbs {
	padding: 0.94vw 0;
	font-size: 0.73vw;
	line-height: 170%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.breadcrumbs a {
	color: #2B2A29;
	border-bottom: 1px solid transparent;
}
.breadcrumbs a:hover {
	border-color: #2B2A29;
}
.breadcrumbs li::after {
	content: "/";
	margin: 0 0.52vw;
}
.breadcrumbs li:last-child::after {
	display: none;
}
.page-article h1 {
	font-size: 1.67vw;
	margin-bottom: 0.89vw;
	line-height: 175%;
	font-weight: 600;
}
.article-content {
	line-height: 150%;
}
.article-content p {
	margin: 0.78vw 0;
}
.article-content h2 {
	margin-top: 1.46vw;
	margin-bottom: 0.78vw;
	font-size: 1.04vw;
	line-height: 130%;
	font-weight: 600;
}
.article-content img {
	width: 100%;
	height: auto;
	border-radius: 0.52vw;
}
.article-content ul li {
	padding-left: 1.04vw;
	position: relative;
}
.article-content ul li::before {
	position: absolute;
	top: 0;
	left: 0.16vw;
	content: "•";
}

.page-about {
	padding-top: 1.5625vw;
}
.title-middle {
	font-size: 1.5625vw;
	line-height: 147%;
	font-weight: 600;
}
.image-page img {
	border-radius: 0.5208vw;
	width: 100%;
	height: auto;
	display: block;
}
.about-main {
	font-size: 1.0417vw;
	line-height: 160%;
}
.about-main .title-middle {
	margin-top: 0.7813vw;
	margin-bottom: 2.7083vw;
	max-width: 37.2396vw;
}
.about-main p {
	max-width: 44.9479vw;
}
.item-about {
	padding: 2.3438vw;
	padding-top: 1.5104vw;
	padding-right: 1.3979vw;
	line-height: 150%;
	min-height: 100%;
	background: #d5d9c8;
	border-radius: 0.5208vw;
}
.item-about__title {
	margin-bottom: 0.7813vw;
	font-size: 1.0417vw;
	line-height: 130%;
	font-weight: 600;
}
.about-directions .row_page {
	padding-top: 1.5625vw;
}
.about-directions .title-section {
	margin-bottom: 0.3646vw;
}
.about-directions {
	margin-top: -1.3021vw;
}
.page-about ~ .advantages {
	padding-bottom: 0.5208vw;
}
.consultation_about .title-middle {
	margin-bottom: 1.6667vw;
}
.consultation_about .consultation__block {
	background-image: url(../img/bg_consult2.jpg);
}
.consultation_about .consultation__descr {
	font-weight: 400;
}
.consultation_about .form-page {
	background: #d5d9c8;
}
.slider-gallery__item {
	height: 20.8333vw;
	width: 19.5833vw;
	border-radius: 0.5208vw;
	display: block;
}
.slider-gallery__item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	border-radius: 0.5208vw;
}
.slider-gallery .slick-track {
	display: flex !important;
}
.slider-gallery .slick-slide {
	margin-right: 1.5104vw;
	height: inherit !important;
}
.slider-gallery:not(.slick-initialized) > li:not(:first-child) {
	display: none;
}
.gallery {
	padding: 4.1667vw 0;
}
.slider-gallery_big {
	width: 40.8333vw;
}
.slick-arrow {
	width: 2.0833vw;
	height: 2.0833vw;
	font-size: 0.7292vw;
	top: 50%;
	color: #BC6C25;
	border: 1px solid #dda15e;
	border-radius: 50%;
	transition: all 0.3s;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}
.slick-arrow::before {
	display: none;
}
.slick-prev {
	left: 0;
}
.slick-next {
	right: 0;
}
.slick-arrow:hover {
    color: #fff;
    background: #dda15e;
    border-color: #dda15e;
}
.slider-gallery .slick-prev {
	left: -3.125vw;
}
.slider-gallery .slick-next {
	right: -3.125vw;
}

.page-delivery {
	padding-top: 1.5625vw;
	padding-bottom: 0.5208vw;
}
.item-delivery {
	padding: 1.5625vw;
	padding-bottom: 1.8229vw;
	line-height: 150%;
	background: #fff;
	border-radius: 0.5208vw;
	min-height: 100%;
}
.title-block,
.item-delivery__title {
	font-size: 1.25vw;
	margin-bottom: 1.1979vw;
	line-height: 108%;
	font-weight: 600;
	text-transform: uppercase;
	color: #606c38;
}
.item-delivery strong {
	font-weight: 500;
}
.item-delivery__subtitle {
	font-size: 1.0417vw;
	line-height: 160%;
	font-weight: 600;
}
.item-delivery ul li {
	padding-left: 1.0417vw;
	margin-bottom: 0.7813vw;
	position: relative;
}
.item-delivery ul li::before {
	position: absolute;
	top: 0;
	left: 0.1563vw;
	content: "•";
}
.item-delivery ul li:last-child {
	margin-bottom: 0;
}
.col-lg-8 .item-delivery__subtitle {
	margin-top: 1.1458vw;
	margin-bottom: 0.4688vw;
}
.item-delivery p {
	max-width: 46.3542vw;
}
.col-lg-6 .item-delivery {
	min-height: 12.8125vw;
	margin-bottom: 1.5625vw;
}
.col-lg-6 .item-delivery:last-child {
	margin-bottom: 0;
}
.unit-delivery {
	margin-bottom: 1.1458vw;
	line-height: 150%;
	display: flex;
	align-items: flex-start;
}
.unit-delivery:last-child {
	margin-bottom: 0;
}
.unit-delivery__image {
	width: 12.5vw;
	height: 8.2813vw;
	margin-right: 1.6667vw;
	border-radius: 0.5208vw;
	padding: 0.5vw;
	flex: none;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}
.unit-delivery__image img {
	max-width: 100%;
	max-height: 100%;
}
.unit-delivery__title {
	margin: 0.7813vw 0;
	font-size: 1.25vw;
	line-height: 108%;
	font-weight: 600;
}
.page-delivery .row.row_page {
	margin-bottom: 0;
}
.page-delivery ~ .consultation {
	padding-bottom: 4.9479vw;
}

.sidebar-catalog {
	padding: 1.094vw;
	border-radius: 0.521vw;
	background: #fff;
}
.item-sidebar {
	margin-bottom: 0.833vw;
}
.item-sidebar__content {
	padding: 0.625vw 0.521vw;
	padding-bottom: 0;
	line-height: 150%;
	display: none;
}
.item-sidebar__head {
	font-size: 1.042vw;
	line-height: 130%;
	font-weight: 600;
	color: #606c38;
	cursor: pointer;
	display: block;
}
.item-sidebar__head:hover {
	color: #000;
}
.item-sidebar__subtitle {
	font-size: 0.938vw;
	margin-bottom: 0.417vw;
	line-height: 144%;
	color: #2b2a29;
	font-weight: 600;
	display: block;
}
.item-sidebar__content ul li a {
	color: #2b2a29;
}
.item-sidebar__content ul li {
	margin-bottom: 0.417vw;
}
.item-sidebar__content ul {
	padding-bottom: 0.521vw;
}
.item-subcategory {
	padding: 0.833vw;
	font-size: 1.042vw;
	line-height: 130%;
	text-transform: uppercase;
	color: #2b2a29;
	font-weight: 500;
	display: flex;
	align-items: center;
	border-radius: 0.521vw;
	background: #fff;
}
.item-subcategory__image {
	width: 4.479vw;
	height: 4.479vw;
	margin-right: 1.667vw;
	border-radius: 0.521vw;
	flex: none;
	display: block;
}
.item-catalog__image img,
.item-subcategory__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	border-radius: 0.521vw;
}
.item-catalog {
	border-radius: 0.521vw;
	background: #fff;
	min-height: 100%;
	line-height: 150%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	transition: all 0.5s;
}
.item-subcategory:hover,
.item-catalog:hover {
	box-shadow: 0 0.26vw 0.781vw #ccc;
}
.item-catalog__image {
	height: 10.156vw;
	border-radius: 0.521vw;
	display: block;
	width: 100%;
}
.item-catalog__content {
	padding: 0.885vw;
	padding-bottom: 1.302vw;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
}
.item-catalog__title {
	margin-bottom: 0.625vw;
	font-size: 0.938vw;
	line-height: 144%;
	color: #2b2a29;
	font-weight: 600;
	width: 100%;
	display: block;
}
.item-catalog__bottom {
	padding-top: 1.302vw;
	margin-top: auto;
	width: 100%;
}
.link-page {
	font-size: 0.729vw;
	line-height: 140%;
	color: #bc6c25;
	border-bottom: 0.052vw #bc6c25 solid;
}
.link-page:hover {
	border-color: transparent;
}
.page-catalog .row_page + .row_page {
	padding-top: 1.823vw;
}
.page-catalog {
	padding-top: 1.563vw;
	padding-bottom: 4.115vw;
}
.btn-main_filter {
	display: none;
}
.modal-block .form-page {
	background: #d5d9c8;
}
.title-modal {
	font-size: 1.25vw;
	margin-bottom: 1.25vw;
	line-height: 108%;
	text-align: center;
	font-weight: 600;
	text-transform: uppercase;
}
.descr-modal {
	font-size: 1.042vw;
	margin-bottom: 1.823vw;
	line-height: 130%;
	font-weight: 500;
	text-align: center;
}
.modal-block .checkbox {
	margin-top: 1.5vw;
}

.item-about.item-about_main {
    font-size: 1.04vw;
    line-height: 160%;
    background: #eedbb9;
}
.item-about.item-about_main p {
    margin-bottom: 0.78vw;
}
.item-about.item-about_main ul li {
    padding-left: 1.04vw;
    position: relative;
}
.item-about.item-about_main ul li::before {
    position: absolute;
    top: 0;
    left: 0.16vw;
    content: "•";
}
.item-about.item-about_quote {
    padding-top: 3.65vw;
    padding-bottom: 3.65vw;
    background: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.item-about.item-about_quote::after,
.item-about.item-about_quote::before {
    position: absolute;
    display: block;
    content: "“";
    top: 0.42vw;
    left: 2.08vw;
    font-size: 5vw;
    line-height: 104%;
    font-weight: 600;
    font-family: "Montserrat";
    color: #eedbb9;
}
.item-about.item-about_quote::after {
    bottom: -1.56vw;
    right: 2.29vw;
    content: "”";
    top: auto;
    left: auto;
}
.item-about.item-about_quote .item-about__title {
    margin-bottom: 1.93vw;
}
.item-about__name {
    font-size: 1.25vw;
}
.about-directions .row_page + .row_page {
    padding-top: 2.55vw;
}
.slider-nav:not(.slick-initialized) > li:not(:first-child),
.slider-for:not(.slick-initialized) > li:not(:first-child) {
    display: none;
}
.slider-for__item {
    height: 22.917vw;
    border-radius: 0.52vw;
    display: block;
    width: 100%;
}
.slider-for__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
    border-radius: 0.52vw;
}
.slider-nav__item {
    height: 5.21vw;
    margin-bottom: 0.677vw;
    border-radius: 0.52vw;
    width: 100%;
    display: block;
    cursor: pointer;
    background: #fff;
    transition: all 0.3s;
}
.slider-nav__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
    border-radius: 0.52vw;
}
.slider-nav {
    margin-right: -0.94vw;
}
.title-card {
    font-size: 1.67vw;
	margin-top: -0.6vw;
    margin-bottom: 0.2vw;
    line-height: 175%;
    font-weight: 600;
    font-family: "Montserrat";
}
.descr-card {
    font-size: 0.94vw;
    margin-bottom: 0.7vw;
    max-width: 34.9vw;
    line-height: 144%;
    font-weight: 600;
}
.col-card ul li {
    padding-left: 1.04vw;
    position: relative;
}
.col-card ul li::before {
    position: absolute;
    top: 0;
    left: 0.16vw;
    content: "•";
}
.col-card strong {
    font-weight: 500;
}
.col-card p {
    margin-bottom: 0.5vw;
}
.col-card .btn-main {
    min-width: 9.89vw;
    margin-top: auto;
}
.row .col-card {
    padding-bottom: 1vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.page-card {
    padding-bottom: 2.92vw;
}
.tabs-page {
    margin-top: 1.82vw;
    gap: 1.46vw;
    display: flex;
    align-items: center;
}
.tabs-page a {
    height: 2.4vw;
    padding: 0 1.56vw;
    font-size: 0.94vw;
    line-height: 144%;
    font-weight: 500;
    text-transform: uppercase;
    color: #2b2a29;
    border-radius: 0.52vw;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.tabs-page .active a,
.tabs-page a:hover {
    background: #bc6c25;
    color: #f8f8f8;
}
.tab-container-page {
    padding-top: 1.04vw;
}
.tab-pane-page {
    display: none;
}
.tab-pane-page:first-child {
    display: block;
}
.content-tab {
    padding: 0.68vw 1.3vw;
    background: #fff;
}
.feature {
    margin-bottom: 0.83vw;
    line-height: 150%;
    display: flex;
    align-items: flex-start;
}
.feature strong {
    padding-right: 0.78vw;
    width: 38%;
    flex: none;
    display: block;
    font-weight: 500;
}
.page-mockup {
    padding-top: 1.09vw;
    padding-bottom: 7.34vw;
}
.mockup {
    height: 37.5vw;
    padding: 0 4.84vw;
    display: flex;
    color: #fff;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    z-index: 1;
    background-repeat: no-repeat;
    font-family: "Montserrat";
    background-position: center;
    background-size: cover;
    border-radius: 0.52vw;
}
.mockup::before {
    position: absolute;
    display: block;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 0.52vw;
}
.mockup_error {
    background-image: url(../img/bg_error.jpg);
}
.mockup_thanks {
    background-image: url(../img/bg_thanks.jpg);
}
.mockup__name {
    font-size: 2.19vw;
    line-height: 133%;
    font-weight: 800;
    text-transform: uppercase;
}
.mockup__name strong {
    font-size: 3.33vw;
    line-height: 87%;
    display: block;
}
.mockup__name_error {
    margin-top: -2.08vw;
    padding-left: 5.21vw;
}
.mockup__value {
    font-size: 15.63vw;
    line-height: 100%;
    text-transform: uppercase;
    font-weight: 800;
}
.mockup__text {
    max-width: 28.49vw;
    margin-top: 1.3vw;
    font-size: 1.25vw;
    line-height: 133%;
    font-weight: 500;
}
.mockup .btn-main {
    margin-top: 2.71vw;
    padding: 0 3.13vw;
    height: 3.23vw;
}
.mockup_thanks .mockup__text {
    max-width: 32.6vw;
    margin-top: 2.71vw;
}
.card-prices {
    gap: 1.2vw;
    padding-bottom: 0.52vw;
    padding-top: 0.94vw;
    display: flex;
    align-items: center;
}
.price-main {
    font-size: 1.25vw;
    line-height: 108%;
    font-weight: 600;
    color: #2b2a29;
}
.price-old {
    text-decoration: line-through;
    color: #283618;
}
.card-discount {
    padding: 0.42vw 0.83vw;
    margin-bottom: 0.94vw;
    display: inline-block;
    vertical-align: middle;
    background: #fff;
    border-radius: 0.31vw;
}

.delivery-main {
    margin-bottom: 1.927vw;
    background: #d5d9c8;
    border-radius: 0.521vw;
}
.delivery-main img {
    width: 100%;
    height: auto;
    border-radius: 0.521vw;
}
.delivery-main__content {
    font-size: 1.042vw;
    padding: 2.604vw;
    padding-bottom: 0.521vw;
    line-height: 180%;
    color: #2b2a29;
}
.delivery-main__content ul li {
    padding-left: 1.042vw;
    position: relative;
}
.delivery-main__content ul li::before {
    position: absolute;
    top: 0;
    left: 0.156vw;
    content: "•";
}
.wrap-map-delivery {
    margin-bottom: 2.604vw;
    position: relative;
}
#map-delivery {
    height: 22.135vw;
    width: 100%;
    background-color: #ddd;
    border-radius: 0.521vw;
    overflow: hidden;
}
.page-delivery .title-section {
    margin-bottom: 1.563vw;
}
.content-delivery {
    max-width: 39.323vw;
    padding: 2.083vw 2.552vw;
    top: 1.823vw;
    left: 2.031vw;
    bottom: 1.823vw;
    width: 100%;
    border-radius: 0.521vw;
    z-index: 2;
    background: #eedbb9;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.title-block {
    font-size: 1.667vw;
}
.content-delivery strong {
    font-weight: 500;
}
.content-delivery p {
    margin-bottom: 1.094vw;
}
.content-delivery p a {
    color: #2b2a29;
}
.content-delivery p a strong {
    font-weight: 700;
}
.content-delivery__bottom {
    font-weight: 500;
    margin-top: auto;
}
.item-transport {
    padding: 0.521vw 0.729vw;
    gap: 2.083vw;
    margin-bottom: 0.885vw;
    border-radius: 0.521vw;
    display: flex;
    align-items: center;
    background: #edeee8;
}
.item-transport__image {
    width: 11.042vw;
    height: 7.292vw;
    border-radius: 0.521vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;
}
.item-transport__image img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 0.521vw;
    max-height: 100%;
}
.item-transport__name {
    font-size: 1.25vw;
    width: 11.719vw;
    flex: none;
    line-height: 108%;
    text-transform: uppercase;
    color: #2b2a29;
    font-weight: 600;
}
.item-transport__name span {
    text-transform: none;
}
.item-transport__descr {
    width: 13.542vw;
    flex: none;
    font-weight: 500;
}
.item-transport__features {
    margin-bottom: -1.042vw;
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.columns-3 {
    grid-template-columns: 1fr 1fr 1fr;
}
.item-transport__features_last {
	grid-template-columns: 0.6fr 1fr 0.7fr 1.5fr;
}
.feature-transport {
    padding-left: 1.771vw;
    margin-bottom: 1.042vw;
    position: relative;
}
.feature-transport::before {
    position: absolute;
    display: block;
    content: " ";
    width: 0.729vw;
    height: 0.729vw;
    top: 0.26vw;
    left: 0;
    background-image: url(../img/check.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.item-transport + .title-section {
    margin-top: 2.604vw;
}
.delivery-main.delivery-main_page {
    background: #90c7ce;
}
.delivery-main__content {
    padding: 1.719vw;
}
.delivery-main.delivery-main_page + .delivery-main.delivery-main_page {
    background: #cb9c92;
}
.delivery-main.delivery-main_page + .delivery-main.delivery-main_page ul {
    columns: 2;
}

.page-contacts {
	padding-top: 1.56vw;
	padding-bottom: 4.17vw;
}
.page-contacts .title-section {
	margin-bottom: 1.56vw;
}
.contacts-block {
	border-radius: 0.52vw;
	background: #fff;
}
.hr {
	margin: 0.52vw 0;
	height: 0.1vw;
	width: 100%;
	background: #dda15e;
}
.contacts-block__content {
	padding: 1.56vw;
	padding-right: 0.52vw;
}
.map-contact {
	height: 20.83vw;
	border-radius: 0.52vw;
	overflow: hidden;
	background-color: #ccc;
	width: 100%;
}
.contacts-block__title {
	font-size: 1.25vw;
	margin-bottom: 1.2vw;
	font-weight: 600;
	line-height: 108%;
	text-transform: uppercase;
	color: #606c38;
}
.contacts-wrap {
	gap: 0.78vw;
	display: flex;
	align-items: flex-start;
}
.contacts-wrap .phones-list li {
	position: relative;
}
.contacts-wrap .phones-list li span {
	font-size: 0.83vw;
	font-weight: 400;
	top: 0.1vw;
	left: 100%;
	position: absolute;
}
.contacts-block__location {
	max-width: 17.5vw;
	margin-bottom: 2.19vw;
}
.contacts-block p a {
	color: #2b2a29;
}
.contacts-block strong {
	font-weight: 500;
	display: block;
}
.contacts-block .btn-main {
	margin-top: 1.2vw;
	padding: 0 1.88vw;
}
.row.row_conts > div {
	margin-bottom: 2.14vw;
}
.row.row_conts {
	margin-bottom: -2.14vw;
}
.contacts-block__item .socials-list {
	margin-top: 0.52vw;
}
